
#mjpeg_dest{

width: 100%;
height: 100%;
border-radius: 5px;
}
#mjpeg_dest2{

width: 100%;
height: 100%;
border-radius: 5px;

}

.arrow-down {
width: 0; 
height: 0; 
border-left: 20px solid transparent;
border-right: 20px solid transparent;
border-bottom: 20px solid #2196F3 ;
margin-top: 0px!important;
margin-bottom:0px!important;
padding-bottom: 0px!important;
padding-top: 0px!important;
margin: 0 auto;
}

.parallax-container2 {
position: relative;
overflow: hidden;
}

.titular{
display: inline-block;
background-color: rgba(52, 52, 52, 0.47);
padding: 14px;
}

#software{
background-image: url('../images/software_big.jpg');
height: 704px;
}
.preview{
height: 20%;
width: 20%;

}
#nomargin{
padding-top:0px;
padding-bottom:0px;
margin-bottom:0px;
margin-top:0px;
}
.parallax-container2 {
position: relative;
overflow: hidden;
}

.titular{
display: inline-block;
background-color: rgba(52, 52, 52, 0.47);
padding: 14px;
}
#header_team{
height:300px;

}

#dropdown1{
margin-top:64px;
}

#tabla_contenido{
position: fixed;
top: 370px;
right:50px;;

}
#inicio{
z-index:3;
}

#container_proceso{
	padding-left: 2%;
padding-right: 2%;
}

#no_sombra{

-webkit-box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0), 0 0px 0px 0 rgba(0, 0, 0, 0);
-moz-box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0), 0 0px 0px 0 rgba(0, 0, 0, 0);
box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0), 0 0px 0px 0 rgba(0, 0, 0, 0);
}

			.gallery-img{
				margin-top:10px;
			}


.social {
  /* position: absolute; */
  /* width: 100%; */
  /* top: 50%; */
  text-align: center;
  /* transform: translateY(-50%); */
  margin-top:15%;
}

.social .link {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 2px dashed white;
  background-clip: content-box;
  padding: 10px;
  transition: .5s;
  color: #D7D0BE;
  margin-left: 15px;
  margin-right: 15px;
  text-shadow:
    0 -1px 0 rgba(0, 0, 0, 0.2),
    0 1px 0 rgba(255, 255, 255, 0.2);
  font-size: 70px;
}

.social .link span {
  display: block;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.social .link:hover {
  padding: 20px;
  color: white;
  margin-left: -5px;
  transform: translateX(10px) rotate(360deg);
}

.social .link.google-plus {
  background-color: tomato;
  color: white;
}

.social .link.twitter {
  background-color: #00ACEE;
  color: white;
}

.social .link.facebook {
  background-color: #3B5998;
  color: white;
}


#mobile-demo{
	/**background:#6A1B9A;**/

	background:rgba(66, 165, 245, 0.77);
	  line-height: 50px;
	overflow-y:auto;

}
#Perfil{
	/**background:rgba(66, 165, 245, 0.77);**/

	background:rgba(66, 165, 245, 0.77);
}
#Fotos{
	/**background:#69C4DA;**/
	background:rgba(66, 165, 245, 0.77);
	padding-left:30%;
}
#Galeria{
	background:rgba(66, 165, 245, 0.77);
	padding-left:30%;

}
#Videos{
	/**background:#8787A6;**/
	background:rgba(66, 165, 245, 0.77);
	padding-left:30%;
}
#Streaming{
	/**background:#7C73CD;**/
	background:rgba(66, 165, 245, 0.77);
	padding-left:30%;
}
#Registro{
	/**background:#E8BD6F;**/
	background:rgba(66, 165, 245, 0.77);
	padding-left:30%;
}
#Estado{
	/**background:#AACD7D;**/
	background:rgba(66, 165, 245, 0.77);
	padding-left:30%;
}
#Ajustes{
	/**background:#6FC4AF;**/
	background:rgba(66, 165, 245, 0.77);
	padding-left:30%;
}
#Ayuda{
	/**background:#FF8B8B;**/
	background:rgba(66, 165, 245, 0.77);
	padding-left:30%;
}
#Salir{
	/**background:#EFA58A;**/
	background:rgba(66, 165, 245, 0.77);
	padding-left:30%;

}
#mobile-demo a{
	color:white;
}
#mobile-demo li:hover{
	background:rgba(119, 190, 248, 0.77);
}

#mobile-demo li{

}

nav .nav-wrapper i {
  font-size: 1.2rem;
}

#resolucion input .with-gap,label{
	color:white;

}
#resolucion label{
	font-size:11px;
}


#resp{
	display:none;
}

.text-inicio1{

margin-top:7%;
}

.text-inicio2{

margin-top:-5%;
}

#boton-inicio-confirmar{

margin-top:10%;
}

#boton-inicio-confirmar-mov{

margin-top:15%;
}

#logo-inicio{
	
	width: 100%;
	margin-top: 15%;
}

#logo-inicio-movil{
	
	width: 100%;
}

.div-inicio-mov{

margin-top:-8%;

}

#logo{
	width:120px;
	height:66px;
}
@media (max-width: 600px) {
	#no-resp{
		display:none;
	}
	#resp{
		margin-top:26px;
		margin-bottom:0px;
		display:inline;
	}

	#logo{
		padding-top: 10px;
		width:120px;
		height:70px;
	}
}

.desactivar-button{
	pointer-events:none;
	cursor:default;
}

.text-BrConRot{

	color: #FFFFFF;
	margin-top:45%;

}

.text-BrConRot-mov{

	color: #FFFFFF;
	margin-top:35%;

}

nav ul .li-especial-text{

 padding-left:10px;
 padding-right:10px;
}

nav ul .li-especial:hover{

	background-color: transparent;

}

#boton-activar-movimiento{
	
	width: 180px;
	margin-top:6%;
}

#boton-activar-movimiento-mov{
	width: 60%;
}

#boton-desactivar-movimiento{

	width: 180px;
	padding: 0 20px;
	
}

#boton-desactivar-movimiento-mov{

	width: 60%;
	
}

#modal-inicial2{

margin-top:-5%;
max-height: 100%;
height: 91%;
width:90%;
}

.boton-modal{
	margin: 6px 10px !important;
}

